body {
    background-color: rgb(255, 244, 215);
  }
  h1 {
    color: black;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
  }
  p {
    color: black;
    font-family: sans-serif;
    padding: 50px;
    text-align: center;
    vertical-align: middle;
  }
  .chart {
    /* left: 50%;
    transform: translate(50%, 0%); */
    width: 750px;
    text-align: center;
    vertical-align: middle;
    float: left;
  }